body,
main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    
 background-color: hsla(240, 50%, 57%, 0.7);
    
}

aside {
    flex: 1;
    overflow-y: auto;
}